body {
    width: 100vw;
    margin: 0%;
    background: black;
    font-family: Catellos;
    color:white;
    text-align: center;
}

#cabecera {
    height: 5vw;
    width: 100vw;
    background: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    top: 0px;
    position: sticky;
}

.links {
    color: white;
    text-decoration: none;
}

.instagram {
    height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    font-family: Catellos;
}

.email {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    font-family: Catellos;
}

.about {
    width: 100px;
    height: auto;
    margin-left: 100px;
    font-family: Catellos;
    color: white;

}

.gallery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 120px;
    font-family: Catellos;

}
.cuenta {
    width: 150px;
    height: auto;
    display: flex;
    align-items: center;
    margin-left: 100px;
    font-family: Catellos;
}

.carrito {
    width: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

#lg {
    width: 30px;
    height: 30px;
    justify-content: space-between;
}

h1{
    font-size: 50px;
}
p{
    font-size: 15px;
    margin: 50px;
}

#logfor{
    margin-left: 1000px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.Contfoto {
    height: 400px;
    display: flex;
    justify-content: center;
    align-content: center;
}

#Logo {
    width: 400px;
    height: 400px;
}

form {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    font-weight: bold;
}

label {
    display: block;
    width: 200px;
    margin-top: 5px;
}
input {
    text-align: center;
}
#text{
    width: 600px;
    height: 50px;
}
header{
    font-size: 50px;
}
.boton{
    color: red
}
.foo{
    height: 10vh;
    width: 1000px;
    color: white;
    display: block;
    flex-wrap: wrap;
    align-items: center;
    font-size: 9px;
}

.footer {
    height: 10vh;
    width: 1000px;
    color: white;
    display: block;
    flex-wrap: wrap;
    align-items: center;
    font-size: 9px;
}

#footerdiv {
    display: flex;
    justify-content: space-between;

}

h5 {
    text-align: center;
    color: white;
    font-size: 13px;
}

.espacio{
    height: 50px
}
h3{
    font-size: 15px;
}