body{
    width: 1500vw;
    margin: 0%;
}

#cabecera{
    height: 5vw;
    width: 100vw;
    background: black;
    display: flex;
    justify-content: center;
    
}
.tlf {
    color: white;

}
#cabecera2 {
    height: 10vw;
    width: 100vw;
    background: white;
    display: flex;
    justify-content: center;

}


#imgmain {
    width: 100vw;
    height: auto;
}

/* @media only screen and (max-width: 600px) {
    #imgmain {
        width: 40px;
        height: auto
    }
} */

.fotoa{
        width: 50px;
        height: 50px;
        background-color: brown;
}