body{
    width: 100vw;
    margin: 0%;
    background:black;
    font-family: Catellos;
}
#cabecera{
    height: 5vw;
    width: 100vw;
    background: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    top: 0px;
    position: sticky;
}
.links {
    color: white;
    text-decoration: none;
}
.instagram{
    height: 5vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 50px;
        font-family: Catellos;
}

.tlf{
    height: 5vw;
        width: 15vw;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-left: 10px;
        font-family: Catellos;
}
.email {
    display:flex;
    justify-content: space-between;
        align-items: center;
        margin-left: 20px;
        font-family: Catellos;
}
.about{
    width: 80px;
    height: auto;
        margin-left: 90px;
        font-family: Catellos;
        color: white;

}

.gallery{
    display: flex;
        justify-content:space-between;
        align-items: center;
        margin-left: 130px;
        font-family: Catellos;

}
.cuenta{
    display: flex;
        justify-content: right;
        align-items: center;
        margin-left: 400px;
        font-family: Catellos;
}

.carrito{
    display: flex;
        justify-content: space-between;
        align-items: center;

}
#lg {
    width: 30px;
    height: 30px;
    justify-content: space-between;
}

#imgmain {
    width: 100vw;
    height: 65vw;
    justify-content:center;5
}
.descripcion{
    width: 100vw;
    padding: 10px;
    text-align: center;
    background: black;
     align-items: center;
    color: white;
    top: 0px;
    font-family: Catellos;
}
.artistas{
    color: white;
    text-align: center;
    font-family: Catellos;
    margin-left: 50px;
}
#autor1{
    color: white;
    font-family: Catellos;
        margin-left: 50px;
}
#autor2{
    color: white;
    font-family: Catellos;
        margin-left: 50px;
}
#autor3{
    color: white;
    height: auto;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.Contfoto{
    display: flex;
    justify-content: center;
    align-content: center;
    /* flex-wrap: wrap;
    justify-items: flex-start;
    justify-content: left;
    width: 100%; */
}
#fArt{
    width: 400px;
    height: auto;
}
#Saúl{
    display: flex;
    align-items: center;
    gap: 10px;
}
.DescArt{
    display: grid;
    justify-content: left;
    align-content: left;
    width: auto;
    height: auto;
}
footer{
    height: 10vw;
    width: 100vw;
    background: black;
    display: block;
    flex-wrap: wrap;
    align-items: center;
    font-size: 8px;
}
#footerdiv{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
h5{
    text-align: center;
    background-color: black;
}

