body {
    width: 100vw;
    margin: 0%;
    background-color: black;
    font-family: Catellos;
}

#cabecera {
    height: 5vw;
    width: 100vw;
    background: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    top: 0px;
    position: sticky;
}

.links {
    color: white;
    text-decoration: none;
}

.instagram {
    height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    font-family: Catellos;
}

.email {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    font-family: Catellos;
}

.about {
    width: 100px;
    height: auto;
    margin-left: 100px;
    font-family: Catellos;
    color: white;

}

.gallery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 120px;
    font-family: Catellos;

}

.cuenta {
    width: 150px;
    height: auto;
    display: flex;
    align-items: center;
    margin-left: 100px;
    font-family: Catellos;
}

.carrito {
    width: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

#lg {
    width: 30px;
    height: 30px;
    justify-content: space-between;
}


#logo {
    width: 20vw;
    height: auto;
    margin-bottom: 3%;
    margin-left: 10%;
}
.tAbout {
    color: rgb(237, 192, 237);
    font-size: 50px;
    margin-bottom: 30px;
}
#sobreNosotros {
    color: white;
    font-family: Catellos;
    text-align: justify;
    margin-bottom: 40px;
    width: 80vw;
}
#Info {
    display: flex;
    align-items: center;
    color: white;
    gap: 10px;
}

footer {
    height: 20vw;
    width: 100vw;
    color: white;
    display: block;
    flex-wrap: wrap;
    align-items: center;
    font-size: 9px;
        position: fixed;
        bottom: 0;
}

#footerdiv {
    display: flex;
    justify-content: space-between;
    margin: 40px;
}

h5 {
    text-align: center;
    color: white;
    font-size: 13px;
}